#Estatística descritiva dos dados
Este notebook descreve como o grupo Ebettha obteve os dados de estatística descritiva do conjunto de dados do projeto.

Na célula abaixo é fornecido o código para se obter os principais dados descritivo para as tabelas. É importante substituir a variável "life_path" com o caminho para o arquivo que estamos querendo analisar.

In [14]:
import pandas as pd

# Carregar o arquivo CSV em um DataFrame.
file_path = 'prep_df_jb_opp_workstyle.csv' #Substituir essa variável com o caminho para o arquivo no qual queremos analisar.
df = pd.read_csv(file_path)

# Calcular estatística descritiva das colunas da tabelas
df.describe()

,Unnamed: 0,id,job_opportunity_id,score_classic,score_order,score_change,score_tireless,score_explorer,score_specialist,score_generalist
count,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,83.500000,1886.500000,2832.946429,1.607143,4.238095,4.330357,4.107143,3.330357,2.136905,2.136905
std,48.641546,48.641546,85.117478,0.897673,1.270287,1.091379,1.113530,1.426682,1.077398,1.152584
min,0.000000,1803.000000,2666.000000,0.000000,1.000000,1.500000,1.500000,0.000000,0.000000,0.000000
25%,41.750000,1844.750000,2757.750000,1.000000,3.500000,3.500000,3.500000,2.000000,1.000000,1.000000
50%,83.500000,1886.500000,2833.500000,1.500000,4.000000,4.500000,4.000000,3.000000,2.000000,3.000000
75%,125.250000,1928.250000,2909.250000,2.000000,5.000000,5.000000,5.000000,4.500000,3.000000,3.000000
max,167.000000,1970.000000,2967.000000,4.000000,7.000000,7.000000,7.500000,7.000000,4.000000,4.000000

O código acima gerou várias informações relevantes, que são:


*   count: Número de linhas da tabela;
*   mean: Média aritmética dos valores da coluna;
*   std: Desvio padrão dos valores da coluna;
*   min e max: Valores mínimo e máximo, respectivamente, da coluna;
*   25%, 50% e 75%: Valores dos percentis 25, 50 e 75, respectivamente, de cada coluna.

Um outro dado que é válido termos na nossa análise, mas que não é apresentado com o comando acima é a moda de cada coluna, isto é, o valor que mais se repete em cada uma das colunas. Isso pode ser feito com o comando abaixo:

In [13]:
#Calcular a moda
df.mode()

,Unnamed: 0,id,job_opportunity_id,score_classic,score_order,score_change,score_tireless,score_explorer,score_specialist,score_generalist,created_at,updated_at
0,0,1803,2666,1.0,4.0,5.0,4.0,3.0,3.0,3.0,16/03/2023,16/03/2023
1,1,1804,2670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/05/2023,30/05/2023
2,2,1805,2672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1806,2674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1807,2679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,1966,2961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,164,1967,2962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,165,1968,2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,166,1969,2965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,167,1970,2967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Conclusão

Com este notebook, foi possível criar o dicionário de dados referente ao projeto Ebettha. Mais uma vez, é importante ressaltar que a análise foi feita em uma tabela por vez, substituindo a variável "file_path" para o caminho do arquivo o qual queremos analisar.